<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!--  BATTERY HOLDER -->
    <joint name="battery_joint" type="fixed">
        <parent link="chassis"/>
        <child link="battery_holder"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="battery_holder">
        <visual>
            <geometry>
                <mesh filename="package://calixto-ros-bot/description/meshes/ROS2-Chasis-battery-holder-yellow.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="orange"/>
        </visual>
        
        <!--  BATTERY -->
        <visual>
            <geometry>
                <mesh filename="package://calixto-ros-bot/description/meshes/ROS2-Chasis-battery-grey.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="orange"/>
        </visual>
        
    </link>

    <gazebo reference="battery_holder">
        <material>Gazebo/Yellow</material>
    </gazebo>
    
<!--  BUCK CONVERTER COMPONENT HOLDERS -->
    <joint name="comp_joint" type="fixed">
        <parent link="chassis"/>
        <child link="comp_parts"/>
        <origin xyz="0 0 0"/>
    </joint>

    <link name="comp_parts">
        <visual>
            <geometry>
                <mesh filename="package://calixto-ros-bot/description/meshes/ROS2-Chasis-comp-holder-darkblue.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="blue"/>
        </visual>
        
	<!--  HEX STEMS -->
        <visual>
            <geometry>
                <mesh filename="package://calixto-ros-bot/description/meshes/ROS2-Chasis-stem-blue.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="light_blue"/>
        </visual>
    </link>

    <gazebo reference="comp_parts">
        <material>Gazebo/Blue</material>
    </gazebo>

    <joint name="acc_joint" type="fixed">
    <parent link="chassis"/>
    <child link="chassis_acc"/>
    <origin xyz="0 0 0"/>
</joint>

<link name="chassis_acc">
    <visual> 
        <geometry>
            <mesh filename="package://calixto-ros-bot/description/meshes/ROS2-Chasis-led-holder-black.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="black"/>
    </visual>
</link>

<gazebo reference="chassis_acc">
    <material>Gazebo/Black</material>
</gazebo>

<joint name="led_joint" type="fixed">
    <parent link="chassis_acc"/>
    <child link="led_light"/>
    <origin xyz="0 0 0"/>
</joint>

<link name="led_light">
    <visual> 
        <geometry>
            <mesh filename="package://calixto-ros-bot/description/meshes/ROS2-Chasis-led-white.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="white"/>
    </visual>
</link>

<gazebo reference="led_light">
    <material>Gazebo/White</material>
</gazebo>
    
    
<!--  SWITCH HOLDER -->
        
    <joint name="switch_holder_joint" type="fixed">
        <parent link="chassis"/>
        <child link="switch_holder"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="switch_holder">
        <visual>
            <geometry>
                <mesh filename="package://calixto-ros-bot/description/meshes/ROS2-Chasis-switch-holder.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="white"/>
        </visual>
        <!--  SWITCH -->
        <visual>
            <geometry>
                <mesh filename="package://calixto-ros-bot/description/meshes/ROS2-Chasis-switch-grey.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="grey"/>
        </visual>
        
    </link>

    <gazebo reference="switch_holder">
        <material>Gazebo/White</material>
    </gazebo>
    
<!--  MOTOR DRIVER AND STEM -->
<joint name="motor_driver_joint" type="fixed">
        <parent link="chassis"/>
        <child link="motor_driver"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="motor_driver">
        <visual>
            <geometry>
                <mesh filename="package://calixto-ros-bot/description/meshes/ROS2-Chasis-md-light-grey.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="grey"/>
        </visual>
    </link>

    <gazebo reference="motor_driver">
        <material>Gazebo/LightGrey</material>
    </gazebo>

    <joint name="md_stem_joint" type="fixed">
        <parent link="motor_driver"/>
        <child link="motor_driver_stems"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="motor_driver_stems">
        <visual>
            <geometry>
                <mesh filename="package://calixto-ros-bot/description/meshes/ROS2-Chasis-md-stem-darkblue.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="blue"/>
        </visual>
    </link>

    <gazebo reference="motor_driver_stems">
        <material>Gazebo/DarkBlue</material>
    </gazebo>    
    
    <joint name="lidar_camera_holder_joint" type="fixed">
        <parent link="comp_parts"/>
        <child link="lidar_camera_holder"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="lidar_camera_holder">
        <visual>
            <geometry>
                <mesh filename="package://calixto-ros-bot/description/meshes/ROS2-Chasis-lidar-camera-holder-yellow.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="orange"/>
        </visual>
    </link>

    <gazebo reference="lidar_camera_holder">
        <material>Gazebo/Yellow</material>
    </gazebo>

<joint name="depth_camera_stand_joint" type="fixed">
        <parent link="chassis"/>
        <child link="depth_camera_stand"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="depth_camera_stand">
        <visual>
            <geometry>
                <mesh filename="package://calixto-ros-bot/description/meshes/ROS2-Chasis-depth-camera-stand-grey.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="grey"/>
        </visual>
    </link>

    <gazebo reference="depth_camera_stand">
        <material>Gazebo/Grey</material>
    </gazebo>

<joint name="depth_camera_joint" type="fixed">
        <parent link="depth_camera_stand"/>
        <child link="depth_camera"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <link name="depth_camera">
        <visual>
            <geometry>
                <mesh filename="package://calixto-ros-bot/description/meshes/ROS2-Chasis-depth-camera-black.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="black"/>
        </visual>
    </link>

    <gazebo reference="depth_camera">
        <material>Gazebo/Black</material>
    </gazebo>
    
	
</robot>
